{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <h1>Competitive Programming</h1>
    <p>Development of strategies, techniques, and skills used in competitive programming contests. Topics include problem solving and programming techniques and algorithms. Course format consists of a once a week meeting that includes brief discussion, problem solving and programming practice, a practice programming contest, and a wrap-up discussion.
    </p>

    <p>
    Credit: 1 hour. 
    </p>

    <p>
    Prerequisite: CS 18000 (Problem Solving and Object-Oriented Programming).
    </p>

    <p>
    Textbook: Halim &amp; Halim, Competitive Programming 3
    </p>

    <h2>Grading</h2>
    <p>Grading is based on class attendance and participation, problem solving skills, and programming contest progress and results.</p>

    <h2>TAs</h2>
    <ul>
        <li>Austin Schwartz, GTA - schwar12@purdue.edu</li>
        <li>Aswin Siva, GTA - anagasub@purdue.edu</li>
        <li>Naman Patwar, UTA - npatwar@purdue.edu</li>
        <li>Austin Horning, UTA - ahornin@purdue.edu</li>
        <li>Prashast Vaidya, UTA - vaidya1@purdue.edu</li>
    </ul>

    <h2>Contests</h2>
    <table>
      <tr>
        <td>
          CP0
        </td>
        <td>
          CP2
        </td>
      </tr>
      <tr>
        <td>
          <ul>
              <li><a href="https://www.hackerrank.com/purdue-competitive-programming-week-1">Week 1</a></li>
              <li><a href="https://www.hackerrank.com/purdue-competitive-programming-week-2">Week 2</a></li>
              <li><a href="https://www.hackerrank.com/purdue-competitive-programming-week-3">Week 3</a></li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Week 1</li>
            <li>Week 2</li>
              <li><a href="https://www.hackerrank.com/purdue-advanced-competitive-programming-week-3">Week 2</a></li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>Syllabus</h2>
    <table>
      <tr>
        <td>CP0</td>
        <td>CP2</td>
      </tr>
      <tr>
        <td>
        <ul style="padding-left: 0">
            <li><a href="https://docs.google.com/presentation/d/1EliKaOjraQoZwK25yrAdlhD_0E8rtMNbUAf5s7ZHZ7I/edit?usp=sharing"><b>Jan 12</b> - Introduction</a></li>
            <li><a href="https://docs.google.com/presentation/d/1j43TLg1zHEsIuOpd9B93AkieQGa0aLYngYKhfpA3gQ8/edit?usp=sharing"><b>Jan 19</b> - Data Structures</a></li>
            <li><a href="https://docs.google.com/presentation/d/1_9vjqDbvY70CFYhLi93iUQNt9uDhcT9koQvzL_B8NL4/edit?usp=sharing"><b>Jan 26</b> - Complete Search 1</a></li>
            <li><b>Feb 02</b> - Complete Search 2</li>
            <li><b>Feb 09</b> - Greedy</li>
            <li><b>Feb 16</b> - Dynamic Programming 1</li>
            <li><b>Feb 23</b> - Dynamic Programming 2</li>
            <li><b>Mar 02</b> - Graphs 1</li>
            <li><b>Mar 09</b> - Graphs 2</li>
            <li><b>Mar 16</b> - TBA</li>
            <li><b>Mar 23</b> - TBA</li>
            <li><b>Mar 30</b> - TBA</li>
        </ul>
        </td>
        <td>
          <ul style="padding-left: 0">
              <li><b>Jan 12</b> - N/A</li>
              <li><b>Jan 19</b> - N/A</li>
              <li><a href="https://docs.google.com/presentation/d/1d9vMUo2A2tkuqv6-AnurKuDs9MCmb8TVnN7v6wCIXjo/edit?usp=sharing"><b>Jan 26</b> - N/A</a></li>
              <li><b>Feb 02</b> - TBA</li>
              <li><b>Feb 09</b> - TBA</li>
              <li><b>Feb 16</b> - Advanced DP</li>
              <li><b>Feb 23</b> - TBA</li>
              <li><b>Mar 02</b> - TBA</li>
              <li><b>Mar 09</b> - TBA</li>
              <li><b>Mar 16</b> - TBA</li>
              <li><b>Mar 23</b> - TBA</li>
              <li><b>Mar 30</b> - TBA</li>
          </ul>
        </td>
        </tr>
    </table>

    <h2>Resources</h2>
      <ul>
          <li><a href="https://piazza.com/class/iy3cp45wpzq1a">Piazza</a></li>
          <li><a href="http://www.hackerrank.com">HackerRank</a></li>
          <li><a href="https://github.com/nawns/Competitive-Programming/blob/master/UVA/Main.java">Java Input Template</a></li>
          <li><a href="http://www.comp.nus.edu.sg/~stevenha/cs3233.html">CS3233</a> - Course from the book author</li>
          <li><a href="https://sites.google.com/site/stevenhalim/home/material">Book slides</a></li>
          <li><a href="http://challengehunt.github.io/">ChallengeHunt</a>
          <li><a href="https://docs.google.com/document/d/10pw2WJDECopU3JgvZ6DEFQ8flBgNGw9f7SWmR2gYP_w/edit">Guide on getting into Competitive Programming</a></li>
          <li><a href="https://docs.google.com/document/d/1arpj-66LKLB9onUp-9LNVF2jVZaY0tDo0Mkiyp99AOA/edit?usp=sharing">CS390CPO User Names</a></li>
      </ul>

    </section>
  </div>

	{{ content }}

{% include footer.html %}
